{
  "dev": {
      "slack" : {
          "url": "https://slack.com/api",
          "token": "SLACK_HUBOT_TOKEN",
          "botId": "SLACK_HUBOT_USERID"
      }
  },
  "prod": {
      "slack" : {
          "url": "https://slack.com/api",
          "token": "SLACK_HUBOT_TOKEN",
          "botId": "SLACK_HUBOT_USERID"
      }
  }
}